@{
    Layout = "~/Views/Layout/Shared/_layout.cshtml";
}

<div class="container">

            <div class="style-form-cadastro">
                <div class="title-logar">
                    Faça seu cadastro
                </div>
                <form class="form-logar">

                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group">
                                <input type="text" class="form-control" id="nome" aria-describedby="nomeHelp" placeholder="Nome">
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                <input type="text" class="form-control" id="cpf" aria-describedby="cpfHelp" placeholder="CPF">
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                <input type="text" class="form-control" id="endereco" aria-describedby="enderecoHelp" placeholder="Endereço">
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                <input type="text" class="form-control" id="numero" aria-describedby="numeroHelp" placeholder="Número">
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                <input type="text" class="form-control" id="bairro" aria-describedby="bairroHelp" placeholder="Bairro">
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                <input type="text" class="form-control" id="cep" aria-describedby="cepHelp" placeholder="CEP">
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                <input type="text" class="form-control" id="cidade" aria-describedby="cidadeHelp" placeholder="Cidade">
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                <input type="text" class="form-control" id="estado" aria-describedby="estadoHelp" placeholder="Estado">
                            </div>
                        </div>
                        <div class="col-md-12">
                            <div class="form-group">
                                <input type="text" class="form-control" id="email" aria-describedby="emailHelp" placeholder="E-mail">
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                <input type="password" class="form-control" id="senha" aria-describedby="senhaHelp" placeholder="Senha">
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                <input type="password" class="form-control" id="confsenha" aria-describedby="confsenhaHelp" placeholder="Confirmar senha">
                            </div>
                        </div>
                    </div>
                    
                    <div class="bt-cadastrar"><button type="submit" class="btn btn-info">CADASTRAR  </button></div>
                </form>
            </div>
</div>    
