<header>
    <div class="navbar-top">
        <div class="container">
            <a href="~/Views/Home/index.cshtml">
                <img class="logo" src="~/img/logo-pet.png" />
            </a>
            <div class="style-login">
                <img src="~/img/img_user.png" />
               <a href="~/Views/Form/index.cshtml">
                   Minha Conta
                </a> 
            </div>
        </div>
    </div>
</header>